<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Goals</title>
</head>
<body>
<style>
    td {
        text-align: center;
        vertical-align: middle;
    }
</style>
<table border="1">
    <thead>
    <tr>
        <td rowspan="2"></td>
        <td colspan="3">{{player}}</td>
    </tr>
    <tr>
        <td>ID Матча</td>
        <td>Соперник</td>
        <td>Время</td>
    </tr>
    </thead>
    <tbody>
    {% for row in data %}
    <tr>
        {% for ceil in row %}
        <td>{{ceil}}</td>
        {% endfor %}
    </tr>
    {% endfor %}
    </tbody>
</table>
</body>
</html>